li.list-item {
    position: relative;
    list-style: none;
    padding-bottom: 2px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

#container {
    width: 20%;
}

#container > button {
    float: right;
}

#grocery-list {
    padding: 0;
}

li.list-item > button, div.button-panel > button {
    background:none;
    border:none;
    cursor: pointer;
}

button.complete-button {
    color: green;
    padding-left: 15px;
}

button.delete-button {
    color: red;
    padding-left: 10px;
}

button.edit-button {
    color: blue;
    padding-left: 10px;
}

li.completed {
    background-color: green;
    color: white;
    border: 1px solid black;
}

div.button-panel {
    display: inline;
    position: absolute;
    right: 0;
}

li.completed > button, 
li.edit-state > button.edit-button,
li.edit-state > button.delete-button,
li.edit-state > button.complete-button,
li:not(.edit-state) > button.save-button {
    display: none;
}