li.list-item {
    width: 70%;
    list-style: none;
}

#container {
    width: 30%;
}

li.list-item > button {
    padding-left: 10px;
    background:none;
    border:none;
    cursor: pointer;
}

li.list-item > button.complete-button {
    color: green;
}

li.list-item > button.delete-button {
    color: red;
}

li.completed {
    background-color: green;
    color: white;
    border: 1px solid black;
}

li.completed > button {
    display: none;
}

li.edit-state > button.edit-button {
    display: none;
}

li:not(.edit-state) > button.save-button {
    display: none;
}